<div class="container">
  <div class="row">

    <div class="col search">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" routerLink='/home'>
          <img width="30%" src="../../assets/img/logo-trans.png" alt="BlockL93" class="img-fluid logo">
        </a>
      </nav>
      <small style="margin-left: 1.5%;">Search by town / location</small>
      <div id="search" class="input-group mb-3 input-group-lg">          
        <input  type="text" class="form-control searchBar"
                (keyup.enter)="onEnter(searchBox.value)"                 
                name="search" 
                type="search"
                placeholder="e.g. Kitengella or Thika &crarr;" 
                #searchBox
                style="margin-left: 0.8em;"
                aria-label="Text input with dropdown button">  
      </div>  
      <div class="col-12">
        <button class="btn btn-sm btn-primary" id="nextPage" (click)="nextPage()">Next Page</button>
        <button class="btn btn-sm btn-primary" id="prevPage" (click)="prevPage()">Previous Page</button>      
      </div>            
    </div>
    <div class="col-12 loading text-center">
      <img style="width: 150px" src="https://cdn.lowgif.com/full/21b6c602c88d9d2e-loading-spinner-by-joseph-a-barrientos-dribbble.gif" class="img-fluid" alt="">
    </div>    
    <div class="col-12 scrape">
      <!-- SEARCH DATA -->
      <div class="searchData">
        <router-outlet></router-outlet>
      </div>
      <!-- DATA -->
      <div *ngIf="data" class="initData">  
        <div class="row ">
          <div class="col-lg-4 col-md-4 col-sm-12" *ngFor="let p of data.data; let i = index">
            <div class="card" style="width: 20rem;">          
              <!-- <div *ngIf="p?.image">
                <img src="{{p?.image}}" class="card-img-top img-fluid p-1" alt="{{p?.town}}">
              </div> -->
              <div *ngIf="!p?.image">
                <img src="https://via.placeholder.com/350" class="card-img-top img-fluid p-1" alt="{{p?.town}}">
              </div>
              <div class="card-body">
                <p class="card-text" style="font-weight: 700;">
                  <span style="color: rebeccapurple;">Location:</span>&nbsp;<u style="color: orange;">{{ p?.town | titlecase }}</u>
                </p>              
                <small>
                <!-- <p class="card-text">
                  Location: &nbsp;{{ p?.location | titlecase }}
                </p> -->
                <p>
                  Size: &nbsp;{{p?.size }}
                </p>
                <p>
                  Type: &nbsp;{{p?.type }}
                </p>
                </small>               
                <p style="color: black; font-weight: 700;">
                  Price: &nbsp;{{p?.price }}
                </p>                    
              </div>
              <div class="card-footer text-muted">
                <div class="row">
                  <div class="col" *ngIf="p?.agency.length > 0">
                    <img src="{{p?.agency}}" alt="" class="img-fluid">
                    <!-- <a href="{{p?.contact}}">hi</a> -->
                    <!-- <a href="{{p?.contact}}">Contact<a> -->
                  </div> 
                  <div class="col">
                    <small>Information</small>
                  </div>   
                  <div class="col">
                    <small>Share</small>
                  </div>                  
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div> 
  </div>
</div>