@mixin mobile {
    // @include nav;

    .logo {
      width: 50%;
      // padding: 5% 0;
    }

    .navbar-toggler {
      padding: 0;
      border: none;
      border-radius: 0;
     
    }

    .searchButton {
      margin-top: 5% !important;
    }

    .jumbotron {
      height: 100%; 

      h2 {
        font-size: unset;
      }

    }
}