<section>

  <div class="row">
    <div class="col-12" style="padding-right: 0; padding-left: 0;">
      <div class="jumbotron">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" routerLink='/home'>
              <img src="../../assets/img/logo-trans.png" alt="BlockL93" class="img-fluid logo">
            </a>
          </nav>
          <h1 class="display-4">
            <!-- Advertise your land. Rent your farm. Announce your harvest. All on BlockL93 -->
            <!-- Advertise land for sale. Lease your farm to investors/farmers. Announce your harvest to businesses. All on BlockL93 -->
            <!-- Advertise land for sale. Lease vacant land. Announce harvest to businesses and investors. All on BlockL93. -->
            <!-- Advertise land, homes and space for sale or rent.
             Building blocks between farmers, investors and  -->
            Kenya's 1st Property API
         </h1>
         <h2>
           Connecting businesses, farmers and investors
         </h2>
         <p>
           <button routerLink="/listings" class="btn btn-primary mt-3">Browser</button>
          </p>     
        </div>
      </div>
    </div> 
  </div>

</section>
